.container {
  font-family: "Proza Libre", sans-serif;
}

body {
  background: #f0f0f0;
}

header {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #fff;
  background-color: #562b81;
}

.new-entry {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 41px;
  padding-top: 16px;
  padding-bottom: 9px;
}

img {
  height: 245px;
  border-radius: 4px;
  min-width: 80%;
}

.minor-heading {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  padding-bottom: 9px;
  padding-top: 25px;
  margin-top: 5px;
}

.small-box {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
}

.large-box {
  width: 100%;
  height: 149px;
}

.inputs {
  width: 100%;
}

.button {
  display: flex;
  justify-content: flex-end;
}

button {
  font-family: "Proza Libre", sans-serif;
  font-size: 16px;
  color: #f0f0f0;
  background: #562b81;
  border-radius: 4px;
  position: absolute;
  width: 72px;
  height: 32px;
  left: none;
  top: none;
}

input:focus,
textarea:focus {
  outline: none;
  border: 2px solid #562b81;
  box-shadow: 0 0 1px 1px (#562b81/ 60%);
}

#id {
  position: inherit;
}

@media screen and (min-width: 768px) {
  .entry-form {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .display {
    display: flex;
  }

  .inputs {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .minor-heading {
    padding-top: 0;
  }

  .image {
    width: 50%;
    margin-right: 10px;
  }

  .button {
    display: flex;
    justify-content: flex-end;
  }

  .button button {
    position: unset;
  }

  .entries {
    width: 80%;
  }

  .entries-header {
    display: flex;
    justify-content: space-between;
  }

  .entry-display {
    width: 100%;
    display: flex;
  }

  .image-desktop {
    float: left;
  }

  .is-flex {
    display: flex;
  }

  .column-one-half {
    width: 50%;
  }

  .image-entry-desktop {
    object-position: 50% 50%;
    object-fit: cover;
    min-width: 300px;
    min-height: 400px;
  }

  .is-justify-content-space-between {
    justify-content: space-between;
  }

  i {
    padding-left: 800px;
  }
}

.column-one-half {
  padding: 20px;
}

h3 {
  font-size: 24px;
  font-weight: 600;
}

ul {
  list-style-type: none;
}

.entries-header {
  font-size: 30px;
  font-weight: 600;
}

.is-justify-content-space-between {
  display: flex;
  padding-top: 20px;
}

#new-button {
  padding-left: 200px;
}

.no-entries {
  padding-top: 20px;
  text-align: center;
}

.menu-entries {
  padding-left: 15px;
  font-size: 16px;
}

.has-display-none {
  display: none;
}

.has-display-block {
  display: block;
}

.text-div {
  padding-left: 10px;
}

i {
  padding-left: 200px;
  margin-right: 50px;
}

#submit {
  margin-top: 10px;
}
